#SLIDE_BG{
	width: 100%;
	height: 100vh;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	backface-visibility: hidden;
	animation: slideBg 10s linear infinite 0s;
	animation-timing-function: ease-in-out;
	animation-duration: 30s;
	background-image: url('../img/bg-img/a.jpg');
}

@keyframes slideBg{
	0%{
		background-image: url('../img/bg-img/a.jpg');
	}
	50%{
		background-image: url('../img/bg-img/b.jpg');
	}
	100%{
		background-image: url('../img/bg-img/c.jpg');
	}
}